body {
    background-color:#EEE3CB;
    }

h1 {
color: #603601;
}

h3 {
color:#603601;
}

hr {
    border-style:none;
    background-color:#EEE3CB;
    border-top-style:dotted;
    border-top-color:#FFCE45;
    border-width: 5px;
    height: 0px;
    width: 65%;
    }

img{background-color: #EEE3CB;
}


.profile:hover{background-color:gold;
}
